:root{
    --primary:#0a0104;
    --secondary:#77629d;
    --accent:#F3F4F6;
}
main{
background-color:beige;
border: 2px solid;
max-width: 1100px;
margin: 20px auto;
padding: 20px 30px;
border-radius: 5px;
text-align: justify;
}
body{
    background-color: #0a0104;
    line-height: 1.6;
    font-size: 20px;
   margin: 0;
    padding: 0;
    text-align: justify;
        
}
H1 {
   text-align: center;
   background-color: #c76438;
   margin-right: 70px;
   margin-left: 70px;
   padding: 10px;
}
.p1{
    border:1px solid;
    border-radius: 2px;
    padding: 50px;
}

.p17{
    font-weight: bold;
}

footer {
   background-color: #c76438;
    color: var(--accent);
    padding: 20px;
    text-align: center;
}


footer a {
    color:aliceblue;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

footer ul li {
    display: inline;
}
