body{
    font-size: 20px;
    margin: 10px 10px;
}
.C{
    font-size: 30px;
}
footer {
    background-color:rgb(24, 15, 146);
    color: white;
    padding: 20px;
    text-align: center;
}

footer a {
    color:aliceblue;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

footer ul li {
    display: inline;
}
