footer {
    background-color: rgb(5, 82, 128);
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 1.2rem;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

footer ul li {
    display: inline;
}
