
:root {
--primary: #54107a;
--secondary: #773998;
--container: #a675c2;
--fonts: #dfcde9;
}
        @font-face {
            font-family: 'FT2';
            src: url(font2.ttf);
        }

body{
    background-color: var(--primary);
    background-image: url(isa\ pa.jpg);
    background-repeat: no-repeat;
    background-position: right bottom;
    



}

.Navigation{
        
        margin-top: 0;
        background-color: var(--container);
        width: 100%;
        overflow: auto;
        border-radius: 50px;

}

.Navigation a{

 float: left;
  padding: 12px;
  color: var(--fonts);
  text-decoration: none;
  font-size: 17px;
  width: 23.1%;
  text-align: center;
}

.Navigation a:hover{
background-color: var(--secondary)


}


.search{
        background-color: var(--container);
        display: block;
        overflow: hidden;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;

}

.search a {
        float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;



}

.search a:hover {
  background-color: #ddd;
  color: black;
}


.Design{
background-image: url(backgroundHome\ \(1\).jpg);
background-repeat: no-repeat;
background-size: 1367px 676px;
background-color: var(--container);
text-align: left;
margin-top: 10px;
margin-left: auto;
font-variant: small-caps;
font-size: 80px;
padding-bottom: 5px;
padding-top: 2px;
border-radius: 60px;
margin-bottom: 30px;
color: black;
font-family: 'FT2';
}



.Objectives{
        background-color: var(--container);
        text-align: justify;
        padding-bottom: 10px;
        padding-top: 10px;
        padding-right: 30px;
        padding-left: 30px;
        border-radius: 40px;
        margin-right: 650px;
        margin-left: auto;


}

