 :root{
        --Primary: #8c6fa3;
        --Secondary: #81619a;
        --Container: #745190;
        --font: #000000;
        --border: #572d79;
        --Footer: white; 

    

 }

        @font-face {
        font-family: 'FT';
        src: url(font.ttf);
    }

        @font-face {
            font-family: 'FT2';
            src: url(font2.ttf);
        }

    
        body{
            background-color: var(--Primary) ;
            


        }
 

 .H1Banner {
        background-color: var(--Container);
        padding: 20px; 
        color: var(--font);
        text-align: center; 
        border-radius: 60px;
        border-style: double;
        border-color: var(--border);
        font-family: 'FT2';
        
    }



.Info1 {
        font-size: medium;
        background-color: var(--Container);
        text-align: left;
        margin-left: 60px;
        margin-right:60px;
        padding-right: 40px;
        padding-left:40px;
        padding-top: 30px;
        padding-bottom: 40px;
        border-style:dashed;
        border-color: var(--border);
        border-radius: 60px;
        font-family: 'FT';


    }

.Info2 {
         font-size: medium;
        background-color: var(--Container);
        text-align: left;
        margin-left: 60px;
        margin-right:60px;
        
        padding-right: 40px;
        padding-left:40px;
        padding-top: 30px;
        padding-bottom: 40px;
        border-style:dashed;
        border-color: var(--border);
        border-radius: 60px;
        font-family: 'FT';
}


 .H1Banner2 {
        background-color: var(--Container);
        padding: 20px; 
        color: var(--font);
        text-align: center; 
        border-radius: 60px;
        border-style:double;
        border-color: var(--border);
        font-family: 'FT2';
    }





.Author {
    color: var(--Footer);


}

.About{
    font-family: 'FT2';
    font-size: 25px;



}

.Footer {
        background-color: var(--Secondary);
        text-align: center;
        color: var(--font);
}












